body{
  background-color: #94e4ea;
  }

  .welcomeImage, .packagesImage, .templatesImage, .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  .welcomeImage{
    background-image:url('../storage/images/background3.jpg');
    min-height:400px;
  }
  .packagesImage{
    background-image:url('../storage/images/background1.jpg');
    min-height:400px;
  }
  .templatesImage{
    background-image:url('../storage/images/image3.jpg');
    min-height:400px;
  }
  .pimg1{
    background-image:url('../storage/images/image1.jpg');
    min-height:400px;
  }
  .pimg2{
    background-image:url('../storage/images/image2.jpg');
    min-height:400px;
  }
  .pimg3{
    background-image:url('../storage/images/image3.jpg');
    min-height:400px;
  }
  .pimg4{
    background-image:url('../storage/images/image4.jpg');
    min-height:400px;
  }
  .pimg5{
    background-image:url('../storage/images/image5.png');
    min-height:400px;
  }
  .pimg6{
    background-image:url('../storage/images/image6.jpg');
    min-height:400px;
  }
  .pimg7{
    background-image:url('../storage/images/image8.jpg');
    min-height:400px;
  }

  @media(max-width:568px){
    .welcomeImage, .packagesImage, .templatesImage{
      background-image:none;
      background-color: #94e4ea;
    }

  }
  